.board {
  display: grid;
}

.cell {
  border-radius: 50%;
  aspect-ratio: 1;
  cursor: pointer;
  &--is-alive {
    background-color: #444;
    &:hover {
      background-color: #666;
    }
  }
  &--is-dead {
    background-color: #eee;
    &:hover {
      background-color: #ddd;
    }
  }
}
